.header {
  position: absolute;
  z-index: 1;
  width: 100%;
}

.main {
  position: absolute;
  top: 0px;
  width: 100%;
  min-height: 100%;
}

.footer {
  margin: 0 auto;
  position: absolute;
  bottom: 0px;
}


